/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 6, 2026, 2:25:59 PM
    Author     : rkucins2
*/
body{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
a{
    color: red;
}
.pirmais{
    display: block;
    background-color: whitesmoke;
    justify-content: space-around;
}
h2{
    color: whitesmoke;
    text-align: center;
    background: grey;
  padding: 10px 20px;
  border-radius: 25px;
  text-shadow:
    2px 2px 0 #616161,
    4px 4px 0 #2f3030,
    6px 6px 10px rgba(0,0,0,0.2);

}
.balts{
    color: whitesmoke;
}
h3{
    color: black;
}
.melns{
    color: black;
}
#projects{
    background-color: white;
    margin-top: 30pt;
    opacity: 0.9;
}
.pirmais{
    opacity: 0.9;
}
.gars{
    width: 30%;
    height: 36%;
}
.iss{
    width: 42%;
    height: 28%;
}
