/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 6, 2026, 2:25:59 PM
    Author     : rkucins2
*/
body{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
a{
    color: red;
}
.pirmais{
    display: block;
    background-color: whitesmoke;
    justify-content: space-around;
}
h2{
    color: black;
}
.balts{
    color: whitesmoke;
}
h3{
    color: black;
}
.melns{
    color: black;
}
#projects{
    background-color: white;
    margin-top: 30pt;
}
